.likesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  width: 80vw;
  background-color: aliceblue;
}

.likesContainer .myLikedItem {
  width: 200px;

  & img {
    width: 100%;
  }
}
