.myPostsComponent {
  text-align: center;

  & button {
    background-color: #80fc80;
    margin-bottom: 20px;
    color: white;
    border: none;
    padding: 0.75rem 2rem;
    border-radius: 9999px;
    font-size: 1rem;
    font-weight: bold;
    box-shadow:
      rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    cursor: pointer;
    transition:
      background-color 0.3s ease,
      transform 0.2s ease;
  }

  & button:hover {
    background-color: #38f738;
    transform: scale(1.05);
  }
}

.myPostsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 80vw;

  min-width: 400px;
  min-height: 400px;
}

.myPostItem {
  max-width: 28%;
  max-height: 1200px;

  min-width: 400px;
  min-height: 400px;
  position: relative;
  background-color: rgb(253, 245, 233);

  /* background-image: url("https://cdn.discordapp.com/attachments/1109281453696626800/1364327545037787186/frame.png?ex=6809448a&is=6807f30a&hm=640865a46ed6c3f99645d9121bd389cd36feb183342e255be3a94b689de10f6a&"); */
  background-image: url("https://lh3.googleusercontent.com/pw/AP1GczN1Y5IS1iJDVCsV8SgQaMzSE7YuEfb4AZGHT7DIGMb7P8DLTo86v-zay0SDsgzEuOmSKyNoT8KQut7uZwYRz5fm94ch-3nLiKsIdPdRN0e2RvsyWwM=w2400");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
