.notiComponent {
  width: 75vw;
  min-height: 400px;
  background-color: #f8f5ed;
  border: 2px solid #d4c69a;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 1.5rem;
  margin: 0 auto;
}

.notiComponent h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #4a442f;
}

.notiContainer {
  display: flex;
  min-height: 100px;
  align-items: center;
  gap: 10px;
  width: 80%;
  background-color: white;
  border: 2px solid #d4c69a;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

  & .left {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  & .notiTime {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    color: #777; /* light gray for timestamp */
  }
}

.left .notiImg {
  width: 50px;
  height: 50px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
  }
}

.notiMsg {
  font-size: 1.1rem;
  font-weight: 500;
  color: #333;
}
